html, body, * {
	font-family: "Arial" !important;
	color: #000000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
 	-o-box-sizing: border-box;
 	box-sizing: border-box;
}

body {
	padding: 10px;
	position: relative;
}

a {
	color: #000000;
	text-decoration: none;
}


.btn-menu-mobil {
	color: #000;
	background-color: #48B0EB;
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: center;
	padding: 14px;
	font-weight: bold;
	border-radius: 4px;
	display: none;
}

header {
	margin: 0 auto;
	max-width: 1200px;
	height: 120px;
}

.header-option {
	padding: 10px;
	float: right;
	max-width: 480px;
	height: 100px;
}

.logo {
	float: left;
}

.logo img {
	width: 280px;
	height: 110px;
}

.aRef{
	text-decoration: none;
}

.container-cart{
	font-size: 12px;
	text-align: right;
	width: 100%;
}

.idspC{
	text-decoration: underline;	
	color: #0EB2E8;
}


.niyc{
	color: #AAAAAA;
}

.Titems{
	color: #000000;
	font-weight: bold;
}

.container-lenguaje {
	padding: 14px;
	background-color: #33423F;
	width: 100%;
	height: 50px;
	border-radius: 6px;
	margin-top: 20px;
}

.container-lenguaje label {
	color: #FFF;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 5px;
}

.container-lenguaje select {
	font-size: 14px;
	border-radius: 2px;
}

div.menu, .menu-container {
	margin: 0 auto;
	max-width: 1200px;
	display: inherit;
	padding-top: 16px;
	height: 60px;
	text-decoration: none;
	border-radius: 7px;
	border: solid 3px;
	border-color: #dddddd;
	list-style: none;

	background-color: #F3F4F5;
	background-image: -webkit-linear-gradient(#F5FCFC 0%, #E3E4E5 100%);
	background-image: -o-linear-gradient(#F5FCFC 0%, #E3E4E5 100%);
	background-image: linear-gradient(#F5FCFC 0%, #E3E4E5 100%);
}


div.menu ul, .menu-container ul {
	padding: 0;
	margin: 0;
}

div.menu ul li{
	float: left;
	list-style: none;
	margin: 4px;
}

.menu-container {
	height: auto;
	overflow: hidden;
}


.menu-container ul li{
	float: left;
	list-style: none;
	width: 100%;
	margin: 4px;
	border-bottom: solid 2px #DDDDDD;
}

div.menu ul li a.selected-menu, .menu-container ul li a.selected-menu{ 
	color: #48B0EB;
}

div.menu ul li a { 
	padding: 10px 20px;
	border-right: solid 3px #DDDDDD;
}

div.menu ul li a:hover { 
	color: #48B0EB;
}

#listMenuA{
	color: #000000;
	list-style: none;
}

#idHome{
	color: #0EB2E8;
}

.inpSearch {
	float: right;
	width: 240px;
	margin-top: -10px;
}

.inpSearch input {
	height: 30px;
	border-radius: 0;
	border: solid 2px;
	border-color: #bbbbbb;
	text-decoration: none;
	list-style: none;
}

.inpSearch button {
	text-decoration: none;
	width: 36px;
	height: 36px;
	text-align: center;
	background-color: #48B0EB;
	border: none;
	border-radius: 6px;
}

.inpSearch button img {
	width: 28px;
	height: 28px;
}

/*CONTENEDOR 1*/
.slider {
	margin: 0 auto;
	padding: 6px;
	margin-top: 12px;
	max-width: 1200px;
	height: 384px;
	text-decoration: none;
	background-color: #eeeeee;
	border-radius: 4px;
	border: solid 3px;
	border-color: #dddddd;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
 	-o-box-sizing: border-box;
 	box-sizing: border-box;
}

.menu-slider {
	float: left;
	width: 294px;
	margin: 0 auto;
	text-decoration: none;
	background-color: #5C6B70;
	font-weight: bold;
}

.menu-slider ul {
	padding: 0;
	margin: 0;
}

.opciont-slider {
	list-style: none;
	font-size: 15px;
	text-decoration: none;
	background-color: #eeeeee;
	width: 100%;
	height: 73px;
	border: solid 2px;
	border-color: #dddddd;
	padding-top: 15px;
	padding-left: 16px;
	color: #000000;

	background-color: #F3F4F5;
	background-image: -webkit-linear-gradient(#F5FCFC 0%, #E3E4E5 100%);
	background-image: -o-linear-gradient(#F5FCFC 0%, #E3E4E5 100%);
	background-image: linear-gradient(#F5FCFC 0%, #E3E4E5 100%);
}

.opciont-slider:hover {
	background-color: #5C6B70;
	color: #ffffff;
	border-color: #5F6B6F;

	background-image: inherit !important;
}

.opciont-slider a {
	color: #000000;
}

.opciont-slider a:hover {
	color: #ffffff;
}

.opciont-slider-seleted {
	background-color: #5C6B70;
	color: #ffffff;
	border-color: #5F6B6F;
	background-image: inherit !important;
}

.opciont-slider-seleted a {
	color: #ffffff;
}

.icon-flecha {
	border-radius: 50px;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;
}

.img-activa {
	float: left;
	width:calc(100% - 295px);
	height: 100%;
	margin: 0 auto;
	overflow: hidden !important;
}

#imgFondopng{
	width: 100%;
	height: 100%;
}

/*CONTENEDOR PRINCIPAL*/
.contenedor-general {
	margin: 0 auto;
	max-width: 1200px;
	height: auto;
	background-color: #ffffff;
	margin-top: 34px;
	overflow:hidden;
}

.cabecera{
	max-width: 100%;
	height: 40px;
	background-color: #ffffff;
	margin-top: 10px;
	float: left;
	text-decoration: none;
	list-style: none;
	display: inline-block;
}

.liCabecera1{
	display: inline;
	float: left;
	text-decoration: none;
	list-style: none;
	margin-top: -8px;
	width: 20%;
	color: #000000;
	border: solid 4px #dddddd;
	height: 20px;
	border-radius: 3px;
	background-color: #ECECEC;
	margin-left: -4%;
	margin-right: 10%;
	padding-left: 2%;
	padding-right: 2%;
}

.liCabecera2{
	display: inline;
	list-style: none;
	margin-top: -10px;	
	float: left;
	text-decoration: none;
	margin-left: 0.1%;
	margin-right: 10%;
}

#SpansFea{
	font-size: 25px;
}

#spanFea{
	color: #000000;
}

#spanP{
	color: #0EB2E8;
}

.liCabecera3{
	display: inline;
	float: right;
	text-decoration: none;
	list-style: none;
	margin-top: -24px;
	background-color:#0EB2E8;
	border-radius: 4px;
	margin-left: 550px;
	height: 22px;
	max-width: 150px;
	padding-right: 1%;
	padding-left: 1%;
}

#butonViP{
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
	padding: 0 auto;
}

#Categ{
	color: #000000;
}

.lista-izq {
	width: 300px;
	height: auto;
	background-color: #ffffff;
	float: left;
	padding-right: 10px;
	margin-right: 10px;
	overflow:hidden;
}

.lista-categori {
	padding: 0 !important;
	margin: 0 !important;
}

.lista-categori li img {
	margin-left: 16px;
	margin-right: 10px;
}

.liListasLeft {
	height: 28px;
	margin-top: 10px;
	text-decoration: none;
	color: #000000;
	list-style: none;
	border-bottom: solid 3px #dddddd;

}


.tag-product-uno {
	color: #000000;
}

.tag-product-uno:hover {
	color: #48B0EB;
}

.img-publicidad {
	padding: 14px 0;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.img-publicidad img {
	margin: 0 auto;
}

.liManu{
	text-decoration: none;
	list-style: none;
	margin-top: 10px;
	border: solid 4px #dddddd;
	border-radius: 4px;
	margin-left: -25px;
	height: 15px;
	width: 230px;
	margin-bottom: 10px;
	background-color: #dddddd; 
}

#idManu{
	margin-top: 50px;
	color: #000000;
	margin-left: 10px;

}

.productos-contenedor-der {
	width:calc(100% - 310px);
	height: auto;
	float: left;
	overflow:hidden;
}


.producto-x {
	float: left;
	width: 24%;
	height: 260px;
	border: solid 2px #dddddd;
	border-radius: 8px;
	margin: .2%;
	position: relative;
}

.img-product-x {
    max-width: 80%;
	max-height: 200px;
	display: block;
    margin: 0 auto;
	margin-top: 12px;
}

.line2 {
	margin-top: 15px;
	margin-bottom: 5px;
	max-width: 100%;
	max-height: 211px;
	margin-left: 7%;
	padding: 3px;


}

.lineP2{
	display: inline-block;
	max-width: 20%;
	height: 211px;
	border-right: solid 4px #dddddd;
	border-bottom: solid 4px #dddddd;
	border-radius: 8px;
}

.line3{
	max-width: 100%;
	max-height: 211px;
	margin-top: 15px;
	margin-left: 7%;
	padding: 3px;
}

.lineP3{
	display: inline-block;
	max-width: 20%;
	height: 211px;
	border-right: solid 4px #dddddd;
	border-bottom: solid 4px #dddddd;
	border-radius: 8px;
}

.content-our-spotlight {
	max-width: 1200px;
	margin: 0 auto;
	height: 180px;
	margin-top: 50px;

}

.textantFooder{
	max-width: 1200px;
	background-color: #ffffff;
	height: 40px;
	margin-top: 10px;
}

#our{
	margin-left: 40px;
}

#spotlight{
	color: #0EB2E8;
}







/*SLIDER*/
.footer-slider-img {
	width: 100%;
	height: 140px;
	padding: 8px;
}


.footer-slider-img ul {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 136px;
}

.item-slider-footer {
	margin: 0;
	padding: 0;
	width: 25%;
	height: 100%;
	list-style: none;
	float: left;
}


.item-slider-footer img {
	float: left;
	max-width: 80px;
	height:90px;
}

.item-slider-footer a {
	float: left;
	text-decoration: none;
	margin-left: -717px;
	text-align: center;
	max-width: 108px;
	height: 128px;
	margin: 0 auto;
	display: inline-block;
}

.txt-bold {
	display: inline-block;
	float: left;
	margin-top: 20px;
	padding-left: 12px;
	font-weight: bold;
}

.txt-bold2 {
	display: inline-block;
	float: left;
	margin-top: 10px;
	color: #0EB2E8;
	padding-left: 12px;
	
}

/*FOOTER*/
.menuFooter{
	margin: 0 auto;
	max-width: 1200px;
	margin-top: 18px;
	height: 40px;
	text-decoration: none;
	background-color: #33423F;
	border-radius: 6px;
	list-style: none;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-top: 12px;
}

.menuFooter ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

.menuFooter ul li {
	display: inline-block;
	width: 18%;
	list-style: none;
}

.menuFooter ul li a {
	color: #FFF;
}


#idHomeF{
	color: #ffffff;
}

.info-website {
	margin-top: 30px;
	margin: 0 auto;
	max-width: 90%;
	height: 30px;
	
}

.info-website ul {
	margin-top: 10px;
	text-decoration: none;
	list-style: none;
	display: inline-block;
}

.label-footer-info {
	margin: 0 auto;
	margin-top: 0px;	
	text-decoration: none;
	list-style: none;
	display: inline-block;
	border-right: solid 3px #000000;
}



.label-footer-info a {
	margin-left: 300px;
	text-decoration: underline;
	color: #0EB2E8;
}

.label-footer-info span {
	margin-right: 20px;
}


.label-footer-info2 {
	margin: 0 auto;
	margin-top: 0px;	
	text-decoration: none;
	list-style: none;
	display: inline-block;	
}

.label-footer-info2 a {
	margin-left: 20px;
	text-decoration: underline;
	color: #0EB2E8;
}


.tags-cont {
	text-align: center;
	width: 100%;
	height: 36px;
	padding-top: 10px;
	margin-bottom: 24px;
	border: solid 2px #DDDDDD;
	border-radius: 4px;

	background-color: #F3F4F5;
	background-image: -webkit-linear-gradient(#F5FCFC 0%, #E3E4E5 100%);
	background-image: -o-linear-gradient(#F5FCFC 0%, #E3E4E5 100%);
	background-image: linear-gradient(#F5FCFC 0%, #E3E4E5 100%);
}

.tags-products {
	width: 100%;
	height: 42px;
	overflow:hidden;
	padding-left: 10px;
	position: relative;
}

.tags-products h1 {
	font-size: 18px;
	font-weight: inherit;
}

.tags-products h1 span {
	color: #48B0EB;
}


.btn-all-products-x {
	position: absolute;
	top: 6px;
	right: 20px;
	padding: 8px 10px;
	color: #FFF;
	background-color: #48B0EB;
	border-radius: 6px;
	font-size: 12px;
}


.info-product-x {
	padding: 6px;
	padding-left: 10px;
	width: 100%;
	height: 80px;
	position: absolute;
    bottom: 0;
    font-size: 14px;
}

.color-price {
	color: #48B0EB;
	font-weight: bold;
}


.producto-x:hover a .info-product-x {
	background-color: rgba(028, 069, 092, 0.1);
}

.producto-x:hover {
	border: solid 2px #48B0EB;
}


.info-extra-section input {
	width:calc(100% - 50px);
	font-size: 14px;
}

.info-extra-section button {
	width: 30px;
	background-color: transparent;
	border: none;
}







/**
====== MEDIA PARA DISPOSITIVOS MOVILES =======
**/

@media screen and (max-width: 1024px) {

	.producto-x {
		width: 32%;
	}
}


@media screen and (max-width: 940px) {

	div.menu ul li a { 
		padding: 10px 20px;
		border-right: solid 3px #DDDDDD;
		font-size: 14px;
	}

	.menu {
		height: 100px !important;
	}

	.menu .inpSearch, .menu-container .inpSearch {
		margin-top: 3px;
		width: 100%;
		padding: 4px;
	}

	.menu .inpSearch input, .menu-container .inpSearch input {
		width: calc(100% - 60px);
	}

}


@media screen and (max-width: 768px) {

	.btn-menu-mobil {
		display: block;
	}

	header {
		max-width: 100%;
		height: auto;
		overflow: hidden;
	}

	.menu {
		display: none !important;
	}

	.logo {
		width: 100%;
	}

	.header-option, .header-option .container-cart, .header-option .aRef {
		width: 100%;
	}

	.header-option {
		display: inline-block;
		max-width: 100%;
	}

	.header-option .container-lenguaje {
		width: 100%;
	}


	.producto-x {
		width: 100%;
	}




	.menu-slider {
		display: none;
	}

	.img-activa {
		width: 100%;
	}

	
	.footer-slider-img, .content-our-spotlight {
		height: auto;
		overflow: hidden;
	}

	.item-slider-footer {
		width: 50%;
	}

	footer, .menuFooter, .info-website {
		height: auto;
		overflow: hidden;
	}
}


@media screen and (max-width: 641px) {



	.lista-izq {
		width: 100%;
		float: left;
	}

	.productos-contenedor-der {
		width: 100%;
		float: left;
	}


	.producto-x {
		width: 48%;
	}

	.item-slider-footer {
		width: 100%;
	}
	
}


@media screen and (max-width: 320px) {
	.producto-x {
		width: 99%;
	}
}
